body {
    font-family: Arial;
    margin: 20px;

}
h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.card {
    flex: 1 1 200px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

}

.button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background: #0056b3;

}

@media(max-width: 768px) {
    .container {
        flex-direction: row;;
    }
}