
.title::after {
    content: "neeraj";
}
.title::before {
    content: "sahu"
}

p::first-letter {
    font-size: 30px;
    color: red;
    font-weight: bold;
}
p::first-line {
    color: blue;
}
::selection {
    background: yellow;
    color: black;
}
input::placeholder {
    color: gray;
    font-style: italic;
}