body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 40px;
}

.tittle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.paragraph {
    font-size: 1.2rem;
    text-indent: 40px;
    word-spacing: 5px;

}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
}